@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary-strong: #4D869C;
  --secondary-strong: #7AB2B2;
  --secondary-light: #CDE8E5;
  --screen-bg: #EEF7FF;

  --font-family: 'Oswald', sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: var(--font-family);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
